<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100Devs To-Do List | Homepage</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="container center-align grey darken-2">
  <section class="card-panel grey darken-4">
    <h1 class="grey-text text-lighten-2">100Devs To-Do List App</h1>
    <div class="divider"></div>
    <h4 class="grey-text text-lighten-2">Create Your VERY OWN Todolist!</h4>
    <div class="divider"></div>
      <br>
      <a class="waves-effect waves-light btn" href="/login"> Login</a>
      <a class="waves-effect waves-light btn" href="/signup"> Signup</a>
  </section>        
</body>
</html>