h1{
    color: rgb(255, 255, 255);
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    
}

.hidden{
    display: none;
}

span{
    color: aquamarine;
    font-size: xx-large
}

input {
  color: rgb(255, 255, 255);
}